* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    font-family: 'Raleway';
    background: #FFFFFF;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 4%;
}

header{
    background: linear-gradient(180deg, #E2F1DA 0%, #D4FBF7 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 88px;
    color: #6A6B70;
}

h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 56px;
    width: 100%;
    color: #6A6B70;
    padding-top: 4%;
    display: flex;
    margin-left: 12%;
    }

h3{
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 125%;
    color: #6A6B70;
}

a{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 110%;
    color: #4F6ACC;
    padding-top: 8.5%;
}
.header__container img{
    width: 503px;
    height: 523px;
    
}

.block-up{
    background: #DBF3EB;
    border-radius: 10px 10px 0px 0px;
}

.block-bottom{
    background: #F0F6F4;
    border-radius: 0px 0px 10px 10px;
}

footer{
    background: linear-gradient(180deg, #E2F1DA 0%, #D4FBF7 100%);
    width: 100%;
    margin-top: 4%;
}
.footer__container{
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #6A6B70;
    margin: 5%;
    text-align: center;
}
.main__container{
    display: flex;
    flex-direction: column;
}
.main__container__cards img{
    width: 9.25em;
    height: 9.25em;
}

.line1{
    display: flex;
    max-width: 1440px;
    width: 100%;
    margin-top: 4%;
    padding: 0;
    margin-bottom: 3%;

}
.line1 hr{
    width: 100%;
}

.razrabotka{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    color: #6A6B70;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

.line2{
    max-width: 1440px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 2%;
}
.main__container__cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.card{
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-up{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.block-bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 6%;
}

